<div class="site-nav">
  <ul class="site-nav__icons cstm_nav_icons">
    {%- comment -%}
    {% if customer %}
    <a class="site-nav__link site-nav__link--icon" href="https://speck-products.myshopify.com/pages/wishlist">
      <i class="fa fa-heart-o" style="font-size: 22px;
      line-height: 30px;" aria-hidden="true"></i>
    </a>
    {% endif %}
    {%- endcomment -%}
    
    
<li>
    {%- if settings.search_enable -%}
      <button href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header{% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
        <svg focusable="false" role="img" class="icon icon-search" viewBox="0 0 64 64" aria-labelledby="search">
        <title id="search">Search</title>
        <path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/>
        </svg>
        {% comment %} <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span> {% endcomment %}
      </button>
    {%- endif -%}
    </li>
<li>
    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}" role="link">
        <svg focusable="false" role="img" class="icon icon-user" viewBox="0 0 64 64" aria-labelledby="account">
        <title id="account">Account</title>
        <path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z"/>
        </svg>
        {% comment %} <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span> {% endcomment %}
      </a>
    {%- endif -%}
    </li>
    <li>
    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}" role="button">
      <span class="cart-link">
        <svg width="17px" height="24px" viewBox="0 0 17 24" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="cart-title">
          <title id="cart-title">Cart</title>
          <g id="Group-3" transform="translate(0.60009766 0.6000061)">
            <path d="M0 7.85714L0 3.14286C0 1.40711 1.40711 0 3.14286 0C4.87861 0 6.28571 1.40711 6.28571 3.14286L6.28571 7.85714" transform="translate(4.0900197 0)" id="Path" fill="none" fill-rule="evenodd" stroke="#000000" stroke-width="1.2" />
            <path d="M15.3618 12.1226L0 12.1226L1.08185 0L13.5102 0L15.3618 12.1226Z" transform="translate(7.536828E-14 9.440188)" id="Path-3" fill="none" fill-rule="evenodd" stroke="#000000" stroke-width="1.2" />
          </g>
        </svg>
        {% comment %} <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span> {% endcomment %}
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
      </span>
      </a></li>
  </ul>
</div>
