<div class="sp-bs-sol-top-banner sp-antimirobial-pg-banner sp-bs-sol-top-banner-black-lyr">
  <div class="sp-bs-sol-top-banner-inn" style="background-image: url('{{section.settings.img_1 | img_url:'master'}}')"></div>
  <div class="sp-bs-sol-top-banner-cont">
    <h3>{{section.settings.head_1}}</h3>
  </div>
  <div class="sp-bs-sol-top-banner-btns">
    <ul>
      <li><a class="left-chevron" href="{{section.settings.btn_link_1}}">{{section.settings.btn_txt_1}}</a></li>
      <li><a class="left-chevron" href="{{section.settings.btn_link_2}}">{{section.settings.btn_txt_2}}</a></li>
      <li><a class="left-chevron" href="{{section.settings.btn_link_3}}">{{section.settings.btn_txt_3}}</a></li>
      <li><a class="left-chevron" href="{{section.settings.btn_link_4}}">{{section.settings.btn_txt_4}}</a></li>
    </ul>
  </div>
</div>
<div class="sp-antimirobial-main-desc">
  <div class="sp-antimirobial-inn-desc">
    <h3>{{section.settings.head_2}}</h3>
    <p>{{section.settings.text_1}}</p>
  </div>
</div>
<div class="sp-antimirobial-2nd-desc">
  <div class="sp-cst-container">
    {{section.settings.text_2}}
  </div>
</div>
<div class="sp-antimirobial-lr-main">
  <div class="sp-1260-container">
    <div class="sp-antimirobial-lr-row">
      <div class="sp-antimirobial-lr-block">
        <div class="sp-antimirobial-lr-cont" style="background-image: url('{{section.settings.img_2 | img_url:'master'}}')">					
          <h3>{{section.settings.head_3}}</h3>
        </div>
      </div>
      <div class="sp-antimirobial-lr-block">
        <div class="sp-antimirobial-lr-video">
          <video autoplay="autoplay" width="100%" height="100%" playsinline="" loop="" muted="" poster="https://www.speckproducts.com/on/demandware.static/-/Sites-speck-Library/default/dw79e209db/pages/microban/speck_microban_video-image_02.jpg" src="https://www.speckproducts.com/on/demandware.static/-/Sites-speck-Library/default/dwd68f6df3/pages/microban/speck_microban_website_03_greyBG.mp4">
            <source src="{{section.settings.vid_1}}" type="video/mp4">
            <img class="lazyload" data-src="https://www.speckproducts.com/on/demandware.static/-/Sites-speck-Library/default/dw1395fc20/pages/microban/speck_microban_video-image_03.jpg" alt="WITH Microban Antimicrobial Product Protection vs WITHOUT Microban Antimicrobial Product Protection">
          </video>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="sp-antimirobial-ques-ans-desc">
  <div class="sp-cst-container">      
    {{section.settings.html_1}}
  </div>
</div>
<div class="sp-antimirobial-lr-main sp-antimirobial-lr-main-2">
  <div class="sp-1260-container">
    <div class="sp-antimirobial-lr-row">			
      <div class="sp-antimirobial-lr-block">
        <div class="sp-antimirobial-lr-video">
          <ul>
            {{section.settings.html_2}}
          </ul>
        </div>
      </div>
      <div class="sp-antimirobial-lr-block">
        <div class="sp-antimirobial-lr-cont" style="background-image: url('{{section.settings.img_3 | img_url:'master'}}')">					
          <h3>{{section.settings.head_4}}</h3>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="sp-antimirobial-explore-main">
  <div class="sp-cst-container">
    <div class="sp-antimirobial-explore-inn">
      <h3>{{section.settings.head_1_1}}</h3>
      <div class="sp-antimirobial-explore-row">
        <div class="sp-antimirobial-explore-block"><img class="lazyload" data-src="{{section.settings.img_1_new | img_url:'master'}}" /></div>
        <div class="sp-antimirobial-explore-block">
          <h3>{{section.settings.img_head_1_new}}</h3>
          <div class="sp-antimirobial-explore-btn">
            <a href="{{section.settings.btn_link_1_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_1_new}}</a>
          </div>
        </div>
      </div>
      <div class="sp-antimirobial-explore-row">
        <div class="sp-antimirobial-explore-block"><img class="lazyload" data-src="{{section.settings.img_1_2_new | img_url:'master'}}" /></div>
        <div class="sp-antimirobial-explore-block">
          <h3>{{section.settings.img_head_2_new}}</h3>
          <div class="sp-antimirobial-explore-btn">
            <a href="{{section.settings.btn_link_2_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_2_new}}</a>
          </div>
        </div>
      </div>
      <div class="sp-antimirobial-explore-row">
        <div class="sp-antimirobial-explore-block"><img class="lazyload" data-src="{{section.settings.img_1_3_new | img_url:'master'}}" /></div>
        <div class="sp-antimirobial-explore-block">
          <h3>{{section.settings.img_head_3_new}}</h3>
          <div class="sp-antimirobial-explore-btn">
            <a href="{{section.settings.btn_link_3_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_3_new}}</a>
          </div>
        </div>
      </div>
      <div class="sp-antimirobial-explore-row">
        <div class="sp-antimirobial-explore-block"><img class="lazyload" data-src="{{section.settings.img_1_4_new | img_url:'master'}}" /></div>
        <div class="sp-antimirobial-explore-block">
          <h3>{{section.settings.img_head_4_new}}</h3>
          <div class="sp-antimirobial-explore-btn">
            <a href="{{section.settings.btn_link_4_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_4_new}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Antimirobial Protection",
    "class": "cstm_anti_prot",
    "settings": [
      {
		"type": "image_picker",
        "id": "img_1",
        "label": "Background Banner Image(3200x1200)"
      },
      {
      "type": "textarea",
      "id": "head_1",
      "label": "Page Heading"
      },
      {
      "type": "url",
      "id": "btn_link_1",
      "label": "Button link"
      },
      {
      "type": "textarea",
      "id": "btn_txt_1",
      "label": "Button Text"
      },
      {
      "type": "url",
      "id": "btn_link_2",
      "label": "Button link"
      },
      {
      "type": "textarea",
      "id": "btn_txt_2",
      "label": "Button Text"
      },
      {
      "type": "url",
      "id": "btn_link_3",
      "label": "Button link"
      },
      {
      "type": "textarea",
      "id": "btn_txt_3",
      "label": "Button Text"
      },
      {
      "type": "url",
      "id": "btn_link_4",
      "label": "Button link"
      },
      {
      "type": "textarea",
      "id": "btn_txt_4",
      "label": "Button Text"
      },
      {
      "type": "text",
      "id": "head_2",
      "label": "Heading"
      },
      {
      "type": "textarea",
      "id": "text_1",
      "label": "Text"
      },
      {
      "type": "textarea",
      "id": "text_2",
      "label": "Text"
      },
      {
		"type": "image_picker",
        "id": "img_2",
        "label": "Background Banner Image(1136x1000)"
      },
      {
      "type": "textarea",
      "id": "head_3",
      "label": "Image Heading 3"
      },
      {
      "type": "url",
      "id": "vid_1",
      "label": "Video link"
      },
      {
      "type": "textarea",
      "id": "html_1",
      "label": "Html part"
      },
      {
      "type": "textarea",
      "id": "html_2",
      "label": "Html part"
      },
      {
		"type": "image_picker",
        "id": "img_3",
        "label": "Background Banner Image(1136x1000)"
      },
      {
      "type": "textarea",
      "id": "head_4",
      "label": "Image Heading"
      },
      {
      "type": "text",
      "id": "head_1_1",
      "label": "Product Image Heading"
      },
      {
		"type": "image_picker",
        "id": "img_1_new",
        "label": "Image(454x280)"
      },
      {
      "type": "text",
      "id": "img_head_1_new",
      "label": "Image Heading"
      },
      {
      "type": "url",
      "id": "btn_link_1_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_1_new",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "img_1_2_new",
        "label": "Image(454x280)"
      },
      {
      "type": "text",
      "id": "img_head_2_new",
      "label": "Image Heading"
      },
      {
      "type": "url",
      "id": "btn_link_2_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_2_new",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "img_1_3_new",
        "label": "Image(454x280)"
      },
      {
      "type": "text",
      "id": "img_head_3_new",
      "label": "Image Heading"
      },
      {
      "type": "url",
      "id": "btn_link_3_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_3_new",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "img_1_4_new",
        "label": "Image(454x280)"
      },
      {
      "type": "text",
      "id": "img_head_4_new",
      "label": "Image Heading"
      },
      {
      "type": "url",
      "id": "btn_link_4_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_4_new",
      "label": "Button Text"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
