<div class="sp-bs-sol-top-banner">
  <div class="sp-bs-sol-top-banner-inn" style="background-image: url('{{section.settings.img_1 | img_url:'master'}}')"></div>
  <div class="sp-bs-sol-top-banner-cont">
    <h3>{{section.settings.head_1}}</h3>
    {% comment %} <div class="sp-bs-sol-top-banner-cont-btn">
      <a href="{{section.settings.btn_1}}" class="sp-bl-back-btn">
        {{section.settings.btn_link_1}}
      </a>
    </div> {% endcomment %}
  </div>
</div>
<div class="sp-bs-sol-lwr-sec sp-bs-sol-pg-lwr-sec">
  <div class="sp-cst-container">
    <div class="sp-bs-sol-lwr-fas">
      <h3>{{section.settings.logo_head_1}}</h3>
      <div class="sp-bs-sol-lwr-fas-list">
        <ul>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_1 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_2 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_3 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_4 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_5 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_6 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_7 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_8 | img_url:'master'}}" /></div></li>
          <li><div class="sp-bs-sol-lwr-fas-img"><img class="lazyload" data-src="{{section.settings.logo_img_9 | img_url:'master'}}" /></div></li>
        </ul>
      </div>
    </div>
    <div class="sp-bs-sol-lwr-lr-main">			
      <div class="sp-bs-sol-lwr-lr-row">
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-img"><img class="lazyload" data-src="{{section.settings.zig_zag_1 | img_url:'master'}}" /></div>
        </div>
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-cont">
            <h3>{{section.settings.zig_head_1}}</h3>
            <p>{{section.settings.zig_text_1}}</p>
            <div class="sp-bs-sol-lwr-lr-cont-btn"><a href="{{section.settings.zig_btn_1}}" class="sp-bl-back-btn">{{section.settings.zig_btn_link_1}}</a></div>
          </div>
        </div>
      </div>
      <div class="sp-bs-sol-lwr-lr-row">
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-img"><img class="lazyload" data-src="{{section.settings.zig_zag_2 | img_url:'master'}}" /></div>
        </div>
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-cont">
            <h3>{{section.settings.zig_head_2}}</h3>
            <p>{{section.settings.zig_text_2}}</p>
            <div class="sp-bs-sol-lwr-lr-cont-btn"><a href="{{section.settings.zig_btn_2}}" class="sp-bl-back-btn">{{section.settings.zig_btn_link_2}}</a></div>
          </div>
        </div>
      </div>
      <div class="sp-bs-sol-lwr-lr-row">
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-img"><img class="lazyload" data-src="{{section.settings.zig_zag_3 | img_url:'master'}}" /></div>
        </div>
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-cont">
            <h3>{{section.settings.zig_head_3}}</h3>
            <p>{{section.settings.zig_text_3}}</p>
            <div class="sp-bs-sol-lwr-lr-cont-btn"><a href="{{section.settings.zig_btn_3}}" class="sp-bl-back-btn">{{section.settings.zig_btn_link_3}}</a></div>
          </div>
        </div>
      </div>
      <div class="sp-bs-sol-lwr-lr-row">
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-img"><img class="lazyload" data-src="{{section.settings.zig_zag_4 | img_url:'master'}}" /></div>
        </div>
        <div class="sp-bs-sol-lwr-lr-block">
          <div class="sp-bs-sol-lwr-lr-cont">
            <h3>{{section.settings.zig_head_4}}</h3>
            <p>{{section.settings.zig_text_4}}</p>
            <div class="sp-bs-sol-lwr-lr-cont-btn"><a href="{{section.settings.zig_btn_4}}" class="sp-bl-back-btn">{{section.settings.zig_btn_link_4}}</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="sp-bs-sol-email-main">
      <p>{{section.settings.email_txt}}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Business Solution",
    "settings": [
      {
      "type": "textarea",
      "id": "head_1",
      "label": "Page Heading"
      },
      {
		"type": "image_picker",
        "id": "img_1",
        "label": "Banner background Image(452 x 240)"
      },
      {
      "type": "url",
      "id": "btn_1",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_link_1",
      "label": "Button Text"
      },
      {
      "type": "text",
      "id": "logo_head_1",
      "label": "Logo Heading"
      },
      {
		"type": "image_picker",
        "id": "logo_img_1",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_2",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_3",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_4",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_5",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_6",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_7",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_8",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "logo_img_9",
        "label": "Logo Image(215 x 126)"
      },
      {
		"type": "image_picker",
        "id": "zig_zag_1",
        "label": "Image(454 x 240)"
      },
      {
      "type": "text",
      "id": "zig_head_1",
      "label": "Banner Heading"
      },
      {
      "type": "textarea",
      "id": "zig_text_1",
      "label": "Banner Text"
      },
      {
      "type": "url",
      "id": "zig_btn_1",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "zig_btn_link_1",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "zig_zag_2",
        "label": "Image(454 x 240)"
      },
      {
      "type": "text",
      "id": "zig_head_2",
      "label": "Banner Heading"
      },
      {
      "type": "textarea",
      "id": "zig_text_2",
      "label": "Banner Text"
      },
      {
      "type": "url",
      "id": "zig_btn_2",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "zig_btn_link_2",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "zig_zag_3",
        "label": "Image(454 x 240)"
      },
      {
      "type": "text",
      "id": "zig_head_3",
      "label": "Banner Heading"
      },
      {
      "type": "textarea",
      "id": "zig_text_3",
      "label": "Banner Text"
      },
      {
      "type": "url",
      "id": "zig_btn_3",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "zig_btn_link_3",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "zig_zag_4",
        "label": "Image(454 x 240)"
      },
      {
      "type": "text",
      "id": "zig_head_4",
      "label": "Banner Heading"
      },
      {
      "type": "textarea",
      "id": "zig_text_4",
      "label": "Banner Text"
      },
      {
      "type": "url",
      "id": "zig_btn_4",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "zig_btn_link_4",
      "label": "Button Text"
      },
      {
      "type": "textarea",
      "id": "email_txt",
      "label": "Email Text"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
