<div class="sp-gb-page-title-main">
	<div class="sp-container-1140">
		<h1>{{section.settings.head_1}}</h1>
		<div class="sp-ppcc-upr-video-main">
			<div class="sp-ppcc-upr-video-row">
				<div class="sp-ppcc-upr-video-block">
                  <div class="sp-ppcc-upr-video-con">
                  <iframe width="560" height="315" src="{{section.settings.vid_1}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="widget2"></iframe>
                  </div>
                  </div>
				<div class="sp-ppcc-upr-cont-block">
					<h4>{{section.settings.head_2}}</h4>
					<p>{{section.settings.head_3}}</p>
				</div>
			</div>
			<div class="sp-ppcc-upr-video-btn"><a href="{{section.settings.btn_1}}" class="sp-bl-back-btn">{{section.settings.btn_link_1}}</a></div>
			<div class="sp-ppcc-upr-video-desc"><p>{{section.settings.btn_desc_1}}</p></div>
		</div>
	</div>
	<div class="sp-ppcc-fea-sec-main">
		<div class="sp-container-1140">
			<div class="sp-ppcc-fea-sec-row">
				<div class="sp-ppcc-fea-sec-img"><img class="lazyload" data-src="{{section.settings.img_1 | img_url:'master'}}" /></div>
				<div class="sp-ppcc-fea-sec-cont">
					<div class="sp-ppcc-fea-sec-cont-row">
						<div class="sp-ppcc-fea-sec-cont-img"><img class="lazyload" data-src="{{section.settings.icon_img_1 | img_url:'master'}}" /></div>
						<div class="sp-ppcc-fea-sec-cont-det">
							<h4>{{section.settings.icon_head_1}}</h4>
							<p>{{section.settings.icon_text_1}}</p>
						</div>
					</div>
					<div class="sp-ppcc-fea-sec-cont-row">
						<div class="sp-ppcc-fea-sec-cont-img"><img class="lazyload" data-src="{{section.settings.icon_img_2 | img_url:'master'}}" /></div>
						<div class="sp-ppcc-fea-sec-cont-det">
							<h4>{{section.settings.icon_head_2}}</h4>
							<p>{{section.settings.icon_text_2}}</p>
						</div>
					</div>
					<div class="sp-ppcc-fea-sec-cont-row">
						<div class="sp-ppcc-fea-sec-cont-img"><img class="lazyload" data-src="{{section.settings.icon_img_3 | img_url:'master'}}" /></div>
						<div class="sp-ppcc-fea-sec-cont-det">
							<h4>{{section.settings.icon_head_3}}</h4>
							<p>{{section.settings.icon_text_3}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sp-meet-fam-sec">
				<h2>{{section.settings.head_1_1}}</h2>
				<div class="sp-meet-fam-row">
					<div class="sp-meet-fam-img">
                      <img class="lazyload" data-src="{{section.settings.img_1_new | img_url:'master'}}" />
                      <h3>{{section.settings.img_head_1_new}}</h3>
                    </div>
					<div class="sp-meet-fam-cont">
						<h3>{{section.settings.img_head_1_new}}</h3>
						<p>{{section.settings.txtttt_1}}</p>
						<div class="sp-meet-fam-cont-btn"><a href="{{section.settings.btn_link_1_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_1_new}}</a></div>
					</div>
				</div>
				<div class="sp-meet-fam-row">
					<div class="sp-meet-fam-img">
                      <img class="lazyload" data-src="{{section.settings.img_1_2_new | img_url:'master'}}" />
                  	  <h3>{{section.settings.img_head_2_new}}</h3>	
                    </div>
					<div class="sp-meet-fam-cont">
						<h3>{{section.settings.img_head_2_new}}</h3>
						<p>{{section.settings.txtttt_2}}</p>
						<div class="sp-meet-fam-cont-btn"><a href="{{section.settings.btn_link_2_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_2_new}}</a></div>
					</div>
				</div>
				<div class="sp-meet-fam-row">
					<div class="sp-meet-fam-img">
                      <img class="lazyload" data-src="{{section.settings.img_1_3_new | img_url:'master'}}" />
                      <h3>{{section.settings.img_head_3_new}}</h3>
                    </div>
					<div class="sp-meet-fam-cont">
						<h3>{{section.settings.img_head_3_new}}</h3>
						<p>{{section.settings.txtttt_3}}</p>
						<div class="sp-meet-fam-cont-btn"><a href="{{section.settings.btn_link_3_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_3_new}}</a></div>
					</div>
				</div>
				<div class="sp-meet-fam-row">
					<div class="sp-meet-fam-img">
                      <img class="lazyload" data-src="{{section.settings.img_1_4_new | img_url:'master'}}" />
                      <h3>{{section.settings.img_head_4_new}}</h3>
                    </div>
					<div class="sp-meet-fam-cont">
						<h3>{{section.settings.img_head_4_new}}</h3>
						<p>{{section.settings.txtttt_4}}</p>
						<div class="sp-meet-fam-cont-btn"><a href="{{section.settings.btn_link_4_new}}" class="sp-bl-back-btn">{{section.settings.btn_txt_4_new}}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


{% schema %}
  {
    "name": "Presidio Perfect Clear",
	"class": "cstm_presidio_clr_cases",
    "settings": [
      {
      "type": "textarea",
      "id": "head_1",
      "label": "Page Heading"
      },
      {
      "type": "url",
      "id": "vid_1",
      "label": "Video link"
      },
      {
      "type": "text",
      "id": "head_2",
      "label": "Video Heading"
      },
      {
      "type": "textarea",
      "id": "head_3",
      "label": "Video Text"
      },
      {
      "type": "url",
      "id": "btn_1",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_link_1",
      "label": "Button Text"
      },
      {
      "type": "textarea",
      "id": "btn_desc_1",
      "label": "Description"
      },
      {
		"type": "image_picker",
        "id": "img_1",
        "label": "Left Image(460x500)"
      },
      {
		"type": "image_picker",
        "id": "icon_img_1",
        "label": "Icon Image"
      },
      {
      "type": "text",
      "id": "icon_head_1",
      "label": "Icon Heading"
      },
      {
      "type": "textarea",
      "id": "icon_text_1",
      "label": "Icon Text"
      },
      {
		"type": "image_picker",
        "id": "icon_img_2",
        "label": "Icon Image"
      },
      {
      "type": "text",
      "id": "icon_head_2",
      "label": "Icon Heading"
      },
      {
      "type": "textarea",
      "id": "icon_text_2",
      "label": "Icon Text"
      },
      {
		"type": "image_picker",
        "id": "icon_img_3",
        "label": "Icon Image"
      },
      {
      "type": "text",
      "id": "icon_head_3",
      "label": "Icon Heading"
      },
      {
      "type": "textarea",
      "id": "icon_text_3",
      "label": "Icon Text"
      },
      {
      "type": "textarea",
      "id": "head_1_1",
      "label": "Product Image Heading"
      },
      {
		"type": "image_picker",
        "id": "img_1_new",
        "label": "Image(340x322)"
      },
      {
      "type": "textarea",
      "id": "img_head_1_new",
      "label": "Image Heading"
      },
      {
      "type": "textarea",
      "id": "txtttt_1",
      "label": "Image Text"
      },
      {
      "type": "url",
      "id": "btn_link_1_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_1_new",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "img_1_2_new",
        "label": "Image(340x322)"
      },
      {
      "type": "textarea",
      "id": "img_head_2_new",
      "label": "Image Heading"
      },
      {
      "type": "textarea",
      "id": "txtttt_2",
      "label": "Image Text"
      },
      {
      "type": "url",
      "id": "btn_link_2_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_2_new",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "img_1_3_new",
        "label": "Image(340x322)"
      },
      {
      "type": "textarea",
      "id": "img_head_3_new",
      "label": "Image Heading"
      },
      {
      "type": "textarea",
      "id": "txtttt_3",
      "label": "Image Text"
      },
      {
      "type": "url",
      "id": "btn_link_3_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_3_new",
      "label": "Button Text"
      },
      {
		"type": "image_picker",
        "id": "img_1_4_new",
        "label": "Image(340x322)"
      },
      {
      "type": "textarea",
      "id": "img_head_4_new",
      "label": "Image Heading"
      },
      {
      "type": "textarea",
      "id": "txtttt_4",
      "label": "Image Text"
      },
      {
      "type": "url",
      "id": "btn_link_4_new",
      "label": "Button link"
      },
      {
      "type": "text",
      "id": "btn_txt_4_new",
      "label": "Button Text"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
